<div class="row bg-white mb-3 p-3 w-50 mx-auto">
  <div class="post-form-container">
    <h2 class="mb-2vh">Write a new comment:</h2>
    <%= form_with(model: @comment, url: user_post_comments_path, method: :post, local: true, class:"row g-3") do |form| %>
    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= form.label(:text, "Comment", class:"form-label") %>
      <div>
    <div>
    <div class="col-md-12 mb-3">
      <div class="form-group">
      <%= form.text_area(:text, class:"form-control") %>
      </div>
    </div>
      <%= form.submit "Submit comment", class: "btn btn-primary" %>
      <%= link_to "Cancel", "/users/#{current_user.id}/posts", class: "btn" %>
    <% end %>
  </div>
</div>