<div class="row bg-white mb-3 p-3 w-50 mx-auto">
  <div class="col-md-3">
    <%if user_signed_in? %>
      <% if @user.photo %>
        <%= image_tag (@current_user.photo), class:"img-fluid rounded"%>  
      <% end %>
    <% end %>
  </div>
  <article class="col-md-9">             
      <p class="align-right">Number of post: <%=  @user.posts_counter %></p>
  </article>
</div>
<% @user.posts.each_with_index do |post, index| %>
<div class="bg-white p-3 mb-3  w-50 mx-auto">
  <div class="row">
    <div>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
      <h3 class="mb-0"><%= post.title %></h3>    
      <% end %>
    </div>
    <hr>
    <div class="card-body">
    <p><%= post.text %></p>
      <%= render partial: "comm_like", locals:{post: post, user_id: @user_id, post_id: post.id}  %>
      <% if post.comments_counter > 0 %>
      <hr>
      <div class="rounded p-3 bg-light">
        <%= render partial: "comment", locals:{comments: post.comments}  %>
      </div>
       <% end %>
    </div>
    <div class="card-footer">
    <% if user_signed_in? %>
      <%= link_to "Comment", new_user_post_comment_path({post_id: post.id, user_id: @user.id}), method: :get, class:"text-primary m-1"%>
      <%= link_to "Like", "/users/#{@user.id}/posts/#{post.id}/likes", method: :post, class:"text-info m-1"%>
    <% end %>
      <% if can? :destroy, post %>
      <%= link_to "Delete Post", "/users/#{post.author_id}/posts/#{post.id}", method: :delete, class: "text-danger m-1", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>