<div class="row bg-white mb-3 p-3 w-50 mx-auto">
  <div class="post-form-container">
    <%= form_with(model: @post, url: user_posts_path, method: :post, local: true) do |form| %>
    <div class="col-md-12 mb-3">
      <div class="form-group">
        <%= form.label(:title, "Post Title", class: 'form-label') %>
        <%= form.text_field :title, class: "form-control" %>
       </div>
    </div>
     <div class="col-md-12 mb-3">
      <div class="form-group">
      <%= form.label(:text, "Post Message", class: 'form-label') %>
      <%= form.text_area :text, size: "50x10",  class: "form-control"  %>
       </div>
    </div>
      <%= form.submit "Submit post", class: "btn btn-primary" %>
      <%= link_to "Cancel", "/users/#{current_user.id}", class: "btn" %>
    <% end %>
  </div>
</div>