
<div class="bg-white p-3 mb-3  w-50 mx-auto">
  <div class="row">
    <div>
      <h4> <%= @post.title %> by <%= @post.author.name %></h4>
    </div>
    <hr>
    <div class="card-body">
    <p><%= @post.text %></p>
      <%= render partial: "comm_like", locals:{post: @post, user_id: @user_id, post_id: @post.id}  %>
      <% if @post.comments_counter > 0 %>
      <hr>
      <div class="rounded p-3 bg-light">
        <%= render partial: "comment", locals:{comments: @post.comments}  %>
      </div>
       <% end %>
    </div>
    <div class="card-footer">
      <%= link_to "Comment", new_user_post_comment_path({post_id: @post.id, user_id: @post.author_id}), method: :get, class:"text-primary m-1"%>
      <%= link_to "Like", "/users/#{@post.author_id}/posts/#{@post.id}/likes", method: :post, class:"text-info m-1"%>
      <% if can? :destroy, @post %>
      <%= link_to "Delete Post", user_post_path, method: :delete, class: "text-danger m-1", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>